.App {
  text-align: center;
}
.App-header {
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: white;
  padding:20px;
  background: turquoise;
  
}

